@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<br />


<h3>OUR BUSINESS</h3>
<p> Welcome to Rangamo, one of the fashion retail,store that</p>
<p>specialisesin ladies and gents wear, African tradition clothes</p>
<p>, formal and casual clothes.Rangamo also do special designed</p>
<p> clothes for clients and also do some alteration of clothes.<p>

    <br />

    <h3>OUR PHILOSOPHY</h3>
<p>The Rangamo business model is driven by a philosophy that has</p>
<p> been developed and refined over many years in pursuit of a </p>
<p>unique approach to achieve sustainable growth in the complex</p>
<p> and fast-moving retail fashion environment. A major asset in this</p>
<p> pursuit has been the strength of the Rangamo brand,</p>
<p> which represents an innovative, South African interpretatio</p>
<p>n of fashion trends and attractive styling, competitive</p>
<p> with the highest South African standards, to youthful, fashionable consumers.</p>

<br />

<h3>OUR VALUES</h3>
<p>The group's value system is at the core of our philosophy.</p>
<p>It guides the way we do business and how we interact with stakeholders.</p>
<p>Through our values, together with the consistent application of policies,</p>
<p>practices and a disciplinary code, we seek to achieve the highest </p>
<p>standards of business ethics and integrity.</p>

<br />

<h3>OUR PURPOSE</h3>
<p>We're here to help youthful, fashionable South Africans </p>
<p>look attractive and successful and feel enthused with confidence. </p>
<p>And the way we achieve this is by enticing them into the most </p>
<p>exciting, visually appealing 'real' and virtual retail environments,</p>
<p>where they can shop effortlessly for an innovative and adventurous</p>
<p> blend of colour, fabric, value and fashion styling of international standards.</p>



