

@{
    ViewBag.Title = "Men";
}


<h2>Men Wear</h2>
<br />

<div style="padding:10px; border:solid medium black; font-size:10pt" class="=body-context">
    <br />

    <div class="row">
        <div class="col-md-4">
            <h3></h3>
            <img src="~/Content/Images/BlueMenSuit.jpg" width="200" height="200" />

            <p>
                Men Suit<br />
                R1 200
            </p>

        </div>
        <div class="col-md-4">
            <h3></h3>
            <img src="~/Content/Images/WhiteTop.jpg" width="200" height="200" />

            <p>
                Short Slieve Top<br />
                R180
            </p>

        </div>
        <div class="col-md-4">
            <h3></h3>
            <img src="~/Content/Images/blueTMen.jpg" width="200" height="200" />

            <p>
                Dec T-Men<br />
                R350
            </p>

            <br />
            <br />
            <br />
        </div>



        <div class="col-md-4">
            <img src="~/Content/Images/MenAfrcanT.jpg" width="200" height="200" />
            <p>
                AfriT-Shirt<br />
                R400
            </p>

        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/MenBlueSuit.jpg" width="200" height="200" />

            <p>
                AFT Suit<br />
                R1 150
            </p>

        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/MenTandT.jpg" width="200" height="200" />

            <p>
                Two Men-Piece
                R 1 050

            </p>
            <br />
            <br />
            <br />
        </div>

        <div class="col-md-4">
            <img src="~/Content/Images/menOrangeTshirt.jpg" width="200" height="200" />
            <p>
                OR Tshirt
                R200
            </p>

        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/MenTshirt.jpg" width="200" height="200" />

            <p>
                Sack Top
                R120
            </p>

        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/MenWhiteTshirt.jpg" width="200" height="200" />

            <p>
                White LT-shirt
                R 550
            </p>

        </div>

    </div>
</div>
