
@{
    ViewBag.Title = "Women";
}

<h2>Ladies Wear</h2>
<br />

<div style="padding:10px; border:solid medium black; font-size:10pt" class="=body-context">
    <br />

    <div class="row">
        <div class="col-md-3">

            <h3>Fashion</h3>
            <img src="~/Content/Images/ThreeC_Dress.jpg" width="200" height="200" />
            <p>
                Three Color Dress<br />
                R700
            </p>

        </div>

        <div class="col-md-3">
            <h3>Hot</h3>

            <img src="~/Content/Images/BrownDress.jpg" width="200" height="200" />
            <p>
                Brown Dress<br />
                R1 200
            </p>

        </div>

        <div class="col-md-3">
            <h3>Beauty</h3>
            <img src="~/Content/Images/LightBrownDress.jpg" width="200" height="200" />
            <p>
                Light Brown Dress<br />
                R1 150
            </p>

        </div>

        <div class="col-md-3">
            <h3>Style Inspiration</h3>
            <img src="~/Content/Images/CreamDress.jpg" width="200" height="200" />
            <p>
                Cream Dress<br />
                R 950
            </p>


            <br />
            <br />
            <br />

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/LongNavyDress.jpg" width="200" height="200" />
            <p>
                Long Navy<br />
                R699
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/afDress.jpg" width="200" height="200" />
            <p>
                AF Dress<br />
                R210
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/BandMerDress.jpg" width="200" height="200" />
            <p>
                Merron Fish Dress<br />
                R250
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/BDesignDress.jpg" width="200" height="200" />
            <p>
                Brown Design<br />
                R1 400
            </p>



            <br />
            <br />
            <br />

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/BlacDress.jpg" width="200" height="200" />
            <p>
                Black L-Dress<br />
                R 800
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/IndianDress.jpg" width="200" height="200" />
            <p>
                Indian Dress<br />
                R480
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/WhiteWeddingDress.jpg" width="200" height="200" />
            <p>
                Wedding Dress<br />
                R2 500
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/MerronBlueDress.jpg" width="200" height="200" />
            <p>
                Sack Dress
                R420
            </p>


            <br />
            <br />
            <br />

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/WandBDress.jpg" width="200" height="200" />
            <p>
                WB Dress<br />
                R250
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/UKDress.jpg" width="200" height="200" />
            <p>
                UK Dress<br />
                R120
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/decDress.jpg" width="200" height="200" />
            <p>
                Dec-Dress<br />
                R400
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/Content/Images/tradDress.jpg" width="200" height="200" />
            <p>
                Trad-Dress<br />
                R110
            </p>
            @*<p><a class="btn-link" href="~/Account/Register">Add to Cart</a></p>*@

            <br />
            <br />
            <br />
        </div>
    </div>


</div>
